
.header {
	width: 100%;
	height: 40px;
	background-color: #505050;
	text-align: center;
    padding-top: 10px;
	color: white; 
}

.button1 {
	 float: left;
	 padding-left: 60px;
	 padding-top: 5px;
}

.menu {
     float: left;
     padding-left: 400px;
     padding-top: 5px;
}

a {
	color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

a:active {
    color: gray;
}

.block1 {
	float: left;
	margin-top: 20px;
	margin-left: 150px;
	width: 15%;
	height: 1505px;
	background-color: #8183A2;
	text-align: center;
	color: white;
	padding-top: 20px;
}

.block2 {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 50%;
	height: 1500px;
	background-color: #D7D8E0;
	text-align: center;
	color: black;
	padding: 20px;
}

.footer {
	clear: both;
	width: 100%;
	height: 40px;
	margin-top: 1580px;
	background-color: #505050;
	text-align: center;
	padding-top: 10px;
	color: white;
}	
